### 협업필터링(Collaborative Filtering) : 사용자 리뷰 기반

나 : Up, 주토피아<br>
상대방 : up, 주토피아, 인사이드 아웃<br>
나에게 인사이드 아웃 추천

In [1]:
import surprise
surprise.__version__

'1.1.3'

scikit surprise 들어가면
예제 설명 존재 <br>
documentation 클릭<br>

In [2]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [3]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

구글에서 surprise Reader 검색<br>
Reader에 대한 설명<br>
rating_scale --> default 값은 (1,10)

In [4]:
ratings['rating'].min()

0.5

In [5]:
ratings['rating'].max()

5.0

In [6]:
reader = Reader(rating_scale=(0.5,5))

In [7]:
data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader=reader)
data

In [8]:
svd = SVD(random_state=0)

In [9]:
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv = 5, verbose=True)
#verbose : 실행되는 과정 보여줘

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8982  0.8955  0.8974  0.8959  0.8954  0.8965  0.0011
MAE (testset)     0.6908  0.6876  0.6910  0.6904  0.6920  0.6904  0.0015
Fit time          2.69    2.84    3.31    7.19    4.61    4.13    1.67
Test time         0.96    0.33    1.01    0.98    0.39    0.73    0.31

{'test_rmse': array([0.89816387, 0.89547179, 0.89735866, 0.89589478, 0.89540262]),
 'test_mae': array([0.69075415, 0.68758028, 0.69098365, 0.69044001, 0.69201351]),
 'fit_time': (2.6936709880828857,
  2.838641405105591,
  3.305462598800659,
  7.187869310379028,
  4.614706039428711),
 'test_time': (0.9565408229827881,
  0.32574987411499023,
  1.0113697052001953,
  0.9845409393310547,
  0.3889601230621338)}

교차검증 <br>
100개의 데이터<br>
cv = 5 라면 5개로 나눠서<br>

In [10]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [13]:
ratings[ratings['userId']==1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [12]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [14]:
svd.predict(1,302)
# 1번 아이디가 302번영화를 어떻게 평가햇을까?

Prediction(uid=1, iid=302, r_ui=None, est=2.7142061734434044, details={'was_impossible': False})

In [15]:
svd.predict(1, 1029, 3)
# userid = 1번인 사람이 movieid = 1029인 영화에 대해서 실제로 평가 3점일 때, 예측 평가 점수는?

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})